body {
    display: flex;
    justify-content: center;
}
.home {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 30px;
}
section {
    margin: 10px 0;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
p {
    font-size: .85rem;
}
.lead {
    font-size: 1.1rem;
}

.contact .field {
    margin-top: 10px;
}
.contact input {
    width: 200px;
}