body {
    display: flex;
    justify-content: center;
}
.home {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 30px 20px 150px 20px;
}
section {
    margin: 20px 0;
}
section .image {
    padding: 50px;text-align: center;
    border: 1px solid #eee;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: small;
    margin-top: 20px;;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
p {
    font-size: .85rem;
}
.lead {
    font-size: 1.1rem;
}

.contact .field {
    margin-top: 10px;
}
.contact input {
    width: 200px;
}