html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Roboto", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  transform: translatey(-1rem);
}

.content {
  flex: 1 0 auto;
  padding: 1rem;
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
  opacity: 0.6;
  font-size: 0.8rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

section {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
}
section.brand {
  justify-content: space-around;
  gap: 1rem;
}
section.brand input {
  width: 50%;
}
section.message {
  flex-direction: column;
}
section.message h3 {
  margin: 0;
}

.swigle-logo.sml {
  width: 100px;
  height: 30px;
}